@model shop.ViewModels.NewProductViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<h2>Products</h2>
@using (Html.BeginForm("Save", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="Product_Name">Product  Name</label>
        @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Product.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Price)
        @Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Product.Price)
    </div>
    <div class="form-group">
        <label for="Product_Available">Initial  Count</label>
        @Html.TextBoxFor(m => m.Product.Available, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Product.Available)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Details)
        @Html.TextAreaFor(m => m.Product.Details, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Product.Details)
    </div>

    <div class="form-group">
        <label for="Product_CategoryId">Category</label>
        @Html.DropDownListFor(m => m.Product.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category Name", new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <img id="imageHolder" style="width:200px;height:300px;" />
        <br />
        <input id="imgupload" name="imgupload" type="file" accept="image/jpg,image/png,image/jpeg" />
    </div>
    <br />
    @Html.HiddenFor(m => m.Product.Id)
    @Html.AntiForgeryToken()
    <button type="submit" id="submit" class="btn btn-primary"> Add </button>
    <button id="saveEdit" class="btn btn-primary"> Save Edits</button>
}


<br />
<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Select</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Number Of Product</th>
            <th>Product Details</th>
            <th>Product Category</th>
            <th>Has got Photo</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $("#submit").on("click", function (e) {
            if ($("#Product_Id").val() != 0) {
                e.preventDefault();
                alert("A row is already selected for editing, you need to save the edits first");
            }
        });
        $(document).ready(function () {
            var button = null;
            var table = $("#products").DataTable({
                ajax: {
                    url: "../api/products",
                    dataSrc: ""
                },
                columns: [{ data: "id", render: function (data, type, product) { return "<button class='btn-link js-edit' data-product-id=" + data + " data-category-id=" + product.categoryId + " data-imageName=" + product.imagesName + ">Edit</button>"; } }
                    , { data: "name" }
                    , { data: "price" }
                    , { data: "available" }
                    , { data: "details" }
                    , { data: "category.name" }
                    , { data: "imagesName", render: function (data) { return ((data != null && data.length > 0) ? "<span>Yes</span>" : "<span>No</span>"); } }
                    , { data: "id", render: function (data) { return "<button class='btn-link js-delete' data-product-id=" + data + ">Delete</button>"; } }]
            });
            $("#imageHolder").hide();
            $("#products").on("click", ".js-delete", function () {
                button = $(this);
                if (confirm("Are You sure?")) {
                    $.ajax({
                        url: "/api/products/" + button.attr("data-product-id"),
                        method: "DELETE",
                        success: function () {
                            $("#Product_Id").val(0);
                            table.row(button.parents("tr")).remove().draw();
                            $("#Product_Name").val("");
                            $("#Product_Price").val("");
                            $("#Product_Available").val("");
                            $("#Product_Details").val("");
                            $("#imageHolder").attr("src", "");
                            $("#imageHolder").hide();
                        }
                    });
                }
            });
            $("#products").on("click", ".js-edit", function () {
                button = $(this);
                $("#Product_Id").val(button.attr("data-product-id"));
                $("#Product_Name").val(button.parents("tr").find("td").eq(1).html());
                $("#Product_Price").val(button.parents("tr").find("td").eq(2).html());
                $("#Product_Available").val(button.parents("tr").find("td").eq(3).html());
                $("#Product_Details").val(button.parents("tr").find("td").eq(4).html());
                if (button.attr("data-imageName") != "null") {
                    $("#imageHolder").attr("src", "/UploadImage/" + button.attr("data-imageName"));
                    $("#imageHolder").show();                   
                } else {
                    $("#imageHolder").hide();
                }
                $("#Product_CategoryId").val(button.attr("data-category-id"));
            });
        });
        $("#saveEdit").on("click", function (e) {
            e.preventDefault();
            if ($("#Product_Id").val() == 0) {
                alert("No row is selected to edit");
            } else {
                Product = new Object();
                Product.Name = $("#Product_Name").val();
                Product.Price = $("#Product_Price").val();
                Product.Available = $("#Product_Available").val();
                Product.Details = $("#Product_Details").val();
                Product.CategoryId = $("#Product_CategoryId").val();
                $.ajax({
                    url: "/api/products/" + $("#Product_Id").val(),
                    type: "PUT",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(Product),
                    success: function () {
                        $("#Product_Id").val(0);// to amke form ready for add new one
                        $("#products").DataTable().ajax.reload();
                    }
                });
            }
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}





